{% extends 'base.html' %}
{% from 'macros.html' import file_list with context %}
{% block page_css %}

{% endblock %}

{% block main %}
    <div class="container is-desktop is-mobile">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-$light is-mobile">
                    {% if data %}
                    {{ file_list(data) }}
                    {% endif %}
                        <div class="content">
                            <!-- Content -->
                        </div>
                </article>
            </div>
        </div>
    <div class="center">

        {{ pagenation_replace(pagination.links)|safe }}

    </div>
    </div>
<div
        class="has-text-centered" onmouseleave="document.getElementById('qrcode').style.display = 'none';" onmouseover="document.getElementById('qrcode').style.display = 'block';">
   <a href="#"><i class="fa fa-qrcode"></i></a>
</div>

    <div class="columns">
  <div class="column is-half is-offset-one-quarter"></div>
        <div style="display: none;" id="qrcode"></div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/qrcode.js"></script>
<script>

    var qrcode = new QRCode('qrcode', {
    text: window.location.href,
    width: 256,
    height: 256,
    colorDark: '#000000',
    colorLight: '#ffffff',
    correctLevel: QRCode.CorrectLevel.H
});
</script>
{% endblock %}