{% extends 'base.html' %}
{% block page_css %}

{% endblock %}

{% block main %}
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-$light">
                    <div class="content">
                        <div class="box">
                            <div class="content">
                                <form class="form-control" action="/login" method="post">
                                    {% if set_language %}
                                        <div class="field">
                                            <label class="label">Language 语言</label>

                                            <div class="control">
                                                <div class="select">
                                                    <select name="set_language">
                                                        {% for key, language in AVAILABLE_LANGUAGES.items() %}
                                                            {% if CURRENT_LANGUAGE == key %}
                                                                <option value="{{ key }}"
                                                                        selected>{{ language }}</option>
                                                            {% else %}
                                                                <option value="{{ key }}">{{ language }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="field">
                                            <label class="label">{% trans %}Password{% endtrans %}</label>
                                            <div class="control">
                                                <input autocomplete="off" name="pin_code" class="input" type="text">
                                            </div>
                                        </div>

                                        <div class="field">
                                            <div class="control">
                                                <label class="checkbox">
                                                    <input type="checkbox" name="check_box" checked>
                                                    {% trans %}Remember me.{% endtrans %} <a href="/login/init">
                                                    {% trans %}Initial PIN code?{% endtrans %}</a>
                                                </label>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="control is-centered">
                                        <button class="button is-primary">{% trans %}Submit{% endtrans %}</button>
                                    </div>
                                </form>


                            </div>


                        </div>
                        <div class="content">
                            <!-- Content -->
                        </div>
                    </div>
                </article>
            </div>
        </div>

    </div>

    <div
        class="has-text-centered" onmouseleave="document.getElementById('qrcode').style.display = 'none';" onmouseover="document.getElementById('qrcode').style.display = 'block';">
    <a href="#"><i class="fa fa-qrcode"></i></a>
</div>

    <div class="columns">
  <div class="column is-half is-offset-one-quarter"></div>
        <div style="display: none;" id="qrcode"></div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/qrcode.js"></script>
<script>

    var qrcode = new QRCode('qrcode', {
    text: window.location.href,
    width: 256,
    height: 256,
    colorDark: '#000000',
    colorLight: '#ffffff',
    correctLevel: QRCode.CorrectLevel.H
});
</script>
{% endblock %}