{% extends 'base.html' %}
{% block page_css %}

{% endblock %}

{% block main %}

    <div class="container">

        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-$light">
                    <div class="content">

                        <div class="box">
                            <div class="content">
                                <form class="form-control" action="/login/init" method="post">

                                    {% if not is_init %}
                                    <div class="has-text-centered"><h4>{% trans %}You are welcome to use the BOBO MP4 media server{% endtrans%}</h4></div>
                                    <div>{% trans %}Initial settings:{% endtrans%}</div>
                                    <div>
                                        <label class="label">Language 语言</label>

                                        <div class="control">
                                            <div class="select">

                                                <select name="language">
                                                   {% for key, language in AVAILABLE_LANGUAGES.items() %}
                                                            {% if CURRENT_LANGUAGE == key %}
                                                                <option value="{{ key }}"
                                                                        selected>{{ language }}</option>
                                                            {% else %}
                                                                <option value="{{ key }}">{{ language }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                </select>

                                        </div>


                                    </div>
                                    <label class="label">{% trans %}Web server{% endtrans%}</label>
                                    <div class="control">
                                        <input autocomplete="on" name="server_address" class="input" type="text"
                                               value="{{ request.headers['Referer'].split('login')[0] }}">
                                    </div>
                            </div>

                            <div class="field">
                                <label class="label">{% trans %}Media Serve{% endtrans%}</label>
                                <div class="control">
                                    <input autocomplete="on" name="media_server" class="input" type="text"
                                           value="{{request.headers['Referer'].split('login')[0].replace('8568','8567')}}">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">{% trans %}Normal user PIN{% endtrans%}</label>
                                <div class="control">
                                    <input autocomplete="on" name="normal_pin" class="input" type="text"
                                           value="9999">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">{% trans %}Child user PIN{% endtrans%}</label>
                                <div class="control">
                                    <input autocomplete="on" name="study_pin" class="input" type="text"
                                           value="1234">
                                </div>
                            </div>


                            <div class="field">
                                <label class="label">{% trans %}Get your password back question - What's your favorite pet's name?{% endtrans%}</label>
                                <div class="control">
                                    <input autocomplete="on" name="q_a" class="input" type="text"  value="Alpha">
                                </div>
                            </div>
                                    {% else %}

                                       <div class="field">
                                <label class="label">{% trans %}Get your password back question - What's your favorite pet's name?{% endtrans%}</label>
                                <div class="control">
                                    <input autocomplete="on" name="q_a" class="input" type="text">
                                </div>
                            </div>


                                    {% endif %}


                            <div class="control is-centered">
                                <button class="button is-primary">{% trans %}Submit{% endtrans%}</button>
                            </div>
                            </form>


                        </div>


                    </div>
                    <div class="content">
                        <!-- Content -->
                    </div>
            </div>
            </article>
        </div>
    </div>

    </div>

{% endblock %}
{% block scripts %}

{% endblock %}