{% extends 'base.html' %}
{% from 'macros.html' import pure_list with context %}
{% from 'macros.html' import file_list with context %}
{% from 'macros.html' import dir_list with context %}
{% block page_css %}
<style>


</style>
{% endblock %}

{% block main %}
    <div class="container is-de">
    <div class="is-mobile has-text-centered">
     <section>

    </section>
    </div>
        <div class="tile is-ancestor">
            <div class="tile is-parent">
                <article class="tile is-child notification is-$light is-multiline">
                    {% if cate == 'movie' or cate == 'cartoon'%}
                    {{ pure_list(movies) }}
                    {% elif is_dir %}
                        {{ dir_list(movies) }}

                        {% else %}
                    {{ file_list(movies) }}
                    {% endif %}
                 {{ file_list(files) }}
                        <div class="content">
                            <!-- Content -->
                        </div>
                </article>
            </div>
        </div>
     <div class="center">

        {{ pagenation_replace(pagination.links)|safe }}

    </div>
    </div>

{% endblock %}
{% block scripts %}




{% endblock %}