{% extends 'base.html' %}
{% block page_css %}

{% endblock %}

{% block main %}

    <div class="container">

        <div class="tile is-ancestor">

            <div class="tile is-parent">
                <article class="tile is-child notification is-$light">
                    <div class="content">
                    {% if auth_ok == True %}
                        <div>
                            <ul>

                                {% for movie in movies %}

                                    <li>
                                        <a href="/play?movie_address={{ movie['sub_folder']|urlencode }}/{{ movie['file_name']|urlencode }}&server={{ session['host_ip'] }}&uid={{ movie['uid'] }}">{{ movie['file_name'] }}</a>  <span class="has-text-grey">{{ movie['file_size'] }}G</span>
                                    </li>


                                {% endfor %}
                            </ul>

                        </div>

                    {% else %}


                        <form class="form-control" action="/secret" method="post">


                                    <div class="field">
                                        <label class="label">密码</label>
                                        <div class="control">
                                            <input autocomplete="on" name="password" class="input" type="text">
                                        </div>
                                    </div>

                                    <div class="control is-centered">
                                        <button class="button is-primary">Submit</button>
                                    </div>
                                </form>





                    {% endif %}


                        <div class="content">
                            <!-- Content -->
                        </div>
                    </div>
                </article>
            </div>
        </div>

    </div>

{% endblock %}
{% block scripts %}

{% endblock %}